.caja1{
    background-color:aqua;
    width: 100px;
    height: 100px;
    
}
.caja2{
    background-color:rgb(14, 119, 119);
    width: 100px;
    height: 100px;
}
.caja3{
    background-color:rgb(1, 15, 15);
    width: 100px;
    height: 100px;
    
}
.caja4{
    background-color:rgb(45, 6, 185);
    width: 100px;
    height: 100px;
    
}